<h2>Leave a message!</h2>
<form method="POST" action="/new">
<label for="op-name">name
    <input type="text" name="name" id="op-name">
</label>
<label for="op">message
    <input type="text" name="message" id="op">
</label>
<submit>
</form>